/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

main {padding-top: 30px;
    margin:auto;
    width: 50%;}

.column {float:left;
width: 50%;}

.row:after {
  content: "";
  display: table;
  clear: both;}

img {display: block;
    padding-right:50px;
    height: 300px;
    padding-left:25px;}

#main-section {padding-top:15px;}

body {font-family: Arial, Helvetica, sans-serif;
      background-color:cornsilk;}

header {border-bottom: 0.5px solid gray;
    padding-bottom: 15px;}

h1 {color:purple;
    font-weight: bold;
    font-size: 30px;
    padding-top: 5px;
    text-transform: uppercase;}

h2 {font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;}

.sectionTitle {font-size: 20px;
    text-transform: uppercase;}

#main {text-overflow:clip;}

.row {padding: 5px 5px;}

p {margin:0px;}

.footer {text-align: right;
font-size: 12px;}
